@model UrlShortnerDemo.Models.UrlModel
@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline" }))
{

    <div class="jumbotron form-group">
        @Html.TextBoxFor(model => model.Url, new { @class = "form-control input-lg", placeholder = "Enter URL to shorten" })
        <button class="btn btn-primary btn-lg">Shorten URL &raquo;</button>
    </div>

}
@if (Model != null && Model.ShortenedUrl != null)
{
    <p class="text-center"><h1><a href="@Model.ShortenedUrl" target="_blank">@Model.ShortenedUrl</a></h1></p>
}
